{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block content %}

<!-- This will probably show the user's balance in a large font, and then show an option to deposit/withdraw money from their account.  -->

<head>
	<title>My Account Balance</title>
</head>
<body>
    <div class="container mb-3">
        <h3>My Account Balance</h3>
        <h1 id="balance"> {{balance}}</h1>
        <!-- <div>
            <label for="withdrawAmount">Withdraw: $</label>
            <input type="number" id="withdrawAmount" min="0" step="0.01">
            <button onclick="withdraw()">Withdraw</button>
        </div>
        <div>
            <label for="depositAmount">Deposit: $</label>
            <input type="number" id="depositAmount" min="0" step="0.01">
            <button onclick="deposit()">Deposit</button>
        </div> -->

        <form method="POST">
            {% csrf_token %}
            <label for="withdrawAmount">Withdraw: $</label>
            <input type="number" id="withdrawAmount" name="my_value" placeholder="0.00" min="0" step="0.01">
            <input type="submit" name="button" value="withdrawAmountSubmit">
        </form>

        <form method="POST">
            {% csrf_token %}
            <label for="depositAmount">Deposit: $</label>
            <input type="number" id="depositAmount" name="my_value" placeholder="0.00" min="0" step="0.01">
            <input type="submit" name="button" value="depositAmountSubmit">
        </form>
    </div>
</body>


{% endblock %}