{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block content %}

{% if messages %}
{% for message in messages %}
 {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

{% endfor %}

{% endif %}


<h2>Current Parlay: {% if parlay %}  {% if parlay|length == 1%} {{parlay|length}} leg {% else %} {{parlay|length}} legs {% endif %} {% else %} No legs added {% endif %}
    
    </h2>
<br>

<table class="styled-table"> 
    <thead>
        <tr>
            <th>Player Name</th>
            <th>Team</th>
            <th>Attribute</th>
            <th>Value</th>
            <th>Sportsbook</th>
            <th>Over Odds</th>
            <th>Under Odds</th>
            <th>Remove Leg</th>

        </tr>
    </thead>
    <tbody>
{% for line in parlay %}   
<tr> 
    <td>{{line|index:0|index:0}}</td>
    <td>{{line|index:0|index:1}}</td>
    <td>{{line|index:0|index:2}}</td>
    <td>{{line|index:0|index:3}}</td>
    <td>{{line|index:0|index:4}} </td>
            <td>
                <form action="/parlays/submit/" method="POST">
                <label class="radio">
                {{line|index:0|index:5}}     
                <input type="radio" id="over" name="{{line|index:0|index:7}}" value="Over" class="toggle-button" onclick="toggleButton(1)"></button>  <span class="checkmark"></span>
                
                </label>
    </td>
    <td> 
        <label class="radio">
            {{line|index:0|index:6}}
        <input type="radio" id="under" name="{{line|index:0|index:7}}" class="toggle-button" value="Under" onclick="toggleButton(2)"></button>
        <span class="checkmark"></span> 
        </label></td>
                
    <td><a href="/parlays/delete_leg/{{ forloop.counter0 }}" class="btn btn-outline-danger">Remove Leg</a> 
        </td>
       
  
        <script>function toggleButton(button) {
            var button1 = document.getElementById('over');
            var button2 = document.getElementById('under');
            
            if (button === 1) {
              button1.classList.add('active');
              button2.classList.remove('active');
            } else {
              button1.classList.remove('active');
              button2.classList.add('active');
            }
          }</script>
    
</tr>
{% endfor %}
</tbody>
</table>

    {% csrf_token %}
    <p>Amount to Wager</p> <input required type="number" min="0.01" step="0.01" name="amount"> <input type="submit" value="Submit Parlay"></input>
</form>

<br>

<br>
<br>

<br>

{% endblock %}