{% load static %}
<!doctype html>
<html lang="en">
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'parlaypro/styles.css' %}">


  <meta charset="utf-8">
  <title>Parlay Pro</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>

  <header class="header-fixed">

    <div class="header-limiter">

      <h1>Parlay<span>Pro</span></a></h1>

      <nav>
        <a href="#" class="selected">Home</a>
        <a href="#" >Parlay Builder</a>
        <a href="players">Player Search</a>
      </nav>
    </div>
  </header>


  This is text
</body>
</html>
