{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block content %}

<div class="container mb-3" >
  <h2>Player Search</h2>
  <br>
  <form action="" method="post">
    {% csrf_token %}
    <p class="text-black" style="text-align:left;">Player Name: <input name="player" type="text" maxlength="20"style="width: 30%" ></p>
    <p class="text-black" style="text-align:left;">Team: <input name="team" type="text" maxlength="20"style="width: 20%" id="tags"></p>
    <input type="submit" value="Search">
  </form>
   <!-- autocomplete function found at https://jqueryui.com/autocomplete/ -->
   <script>
    $( function() {
      var availableTags = [
          {% for team in teamList %}
              "{{team}}",
          {% endfor %}
      ];
      $( "#tags" ).autocomplete({
        source: availableTags
      });
    } );
    </script>

    {% if playerResult %}
    <table class="styled-table"> 
        <thead>
            <tr>
                <th>Player Name</th>
                <th>Team City</th>
                <th>Team Name</th>
            </tr>
        </thead>
        <tbody>
    {% for player in playerResult %}   
    <tr>
        <td><a href="/players/{{player|index:1}}">{{player|index:2}}</a></td>
        <td>{{player|index:3}}</td>
        <td>{{player|index:0}}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}

</div>

{% endblock %}